@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Rubik:300,500');
@import '_vars';

html {
	height: 100%;
}
html,body {
	min-height: 100%;
}
body {
	background: $red url(../img/tile.svg) top repeat-x;
	color: $black;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
}

a:link, a:visited {
	color: $offwhite;
}


h1 a {
	display: block;
	height: 64px;
	width: 374px;
	background: url('../img/logo.png') no-repeat;
	background-image: url('../img/logo.svg');
	text-indent: -999em;
	background-size: contain;
}
[role='heading'] {
	background: $red;
	padding: 1em 0;
}
nav {
	font-family: 'Fugaz One', cursive;
	font-weight: 300;
	font-size: 1.5em;
	a:link, a:visited {
		color: $black;
		&:hover, &:focus, &:active {
			color: $offwhite;
		}
	}
	.uk-active {
		a:link, a:visited {
			color: $offwhite;
			padding-bottom: 4px;
			border-bottom: 2px solid $offwhite;
		}
	}
}
[role='main'] {
	background: $offwhite;
	font-size: 1.4em;
	line-height: 1.3;
	margin-top: 10px !important;
	padding-top: 20px !important;
	h1,h2,h3,h4,h5,h6 {
		color: $red;
		font-family: 'Fugaz One', cursive;
	}
	a:link, a:visited {
		background: $black;
		color: $white;
		display: inline-block;
		padding: 0 2px;
		// border-bottom: 1px dotted $red;
		&:hover, &:focus, &:active {
			background-color: $red;
			color: $black;
			text-decoration: none;
			// border-color: $black;
		}
	}
	.covers {
		.uk-cover {
			max-height: 180px;
			max-width: 100%;
			background: $white;
			background: rgba($white,0.5);

			border: 20px solid $white;
			border-color: rgba($white,0.5);
			box-sizing: border-box;
			transition: all 0.3s ease-in-out; 
			&:hover {
				border-color: rgba(255,255,255,0.5);
				background-color: $white;
				border-width: 15px;
			}
		}
	}
}

[role='contentinfo'] {
	background: $black;
	color: $white;
	margin-top: 10px !important;
	
	.icon-justify {
		display: inline-block;
		padding: 0 2px;
	}
	a:link, a:visited {
		color: $white;
		text-decoration: underline;
		&:hover, &:focus, &:active {
			color: $red;
		}
	}
}
.uk-modal {
	a.uk-modal-close:link, a.uk-modal-close:visited {
		color: $red;
	}
}
.uk-slidenav-position {
	.uk-slidenav-contrast {
		color: $white;
	}
	.uk-slidenav-previous {
		left: 0;
	}
	.uk-slidenav-next {
		right: 0;
	}
}